html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
a{
    text-decoration: none;
}
/*main code*/
html{
    font-family: 'Quicksand', sans-serif;
    color: #2F9BAD;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
/* HEADER */
header{
    width: 100%;
    height: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #28252C;
}
.header-section{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 0 10px;
}
.header-section > img{
    position: absolute;
    width: 30%;
    top: 25%;
    left: 10%;
    border-radius: 30px;
}
.text{
    display: flex;
    justify-content: center;
    align-items:flex-start;
}
.text > h1{
    font-size: 15px;
    margin-bottom: 10px;
}
.link{
    text-align: center;
    padding: 5px;
    margin: 5px 0px;
    border-radius: 20px;
    color: #000;
    font-size: 10px;
    font-weight: 700;
    min-width: 150px;
    cursor: pointer;
}
.contact{
    background-color: #D38C52;
}
.show-portfolio{
    background-color: #2F9BAD;
}
@media screen and (min-width:700px) {
    .header-section{
        align-items: flex-end;
    }
    .text > h1{
        font-size: 30px;
    }
    .link{
        font-size: 20px;
        padding: 10px;
    }
}
/* HEADER END */

/* MAIN */
main{
    margin-top: 10vw;
}
h2{
    width: 100%;
    text-align: center;
    color: #2F9BAD;
    font-size: 24px;
    position: absolute;
    padding-top: 20px;
}
section{
    margin: 40px 0 125px 0;
}
article{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 30%;
    padding-top: 60px;
}
#what-im-doin{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    width: 100%;
}
.graphic{
    width: 50px;
    filter: invert(49%) sepia(81%) saturate(377%) hue-rotate(141deg) brightness(91%) contrast(88%);
}
figcaption{
    font-size: 12px;
    font-weight: 700;
}
#text-section{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#text-section > p{
    width: 70%;
    font-size: 16px;
    padding-top: 90px;
}
@media screen and (min-width:700px){
    figcaption{
        font-size: 24px;
    }
}
/* portfolio */
#portfolio{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #28252C;
    margin-bottom: 0;
    position: relative;
}
#portfolio > article{
    margin-bottom: 100px;
}
#portfolio > a{
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}
#labels{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 20%;
    height: 30vh;
    margin: 0 5%;
    font-size: 14px;
    color: #2F9BAD;
}
label{
    width: fit-content;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}
label:hover{
    color: #28252C;
    background-color: #2F9BAD;
}
#sliders{
    width: 70%;
}
#slider1,
#slider2,
#slider3{
    display: none;
    flex-direction: column;
    justify-content: start;
    align-items:flex-start;
    text-align: center;
    width: 90%;
    margin: 24px 5%;
    height: 80vw;
}
img{
    max-height: 90%;
    max-width: 90%;
}
#img1,
#img2,
#img3{
    display: none;
}
#img1:checked ~ #slider1,
#img2:checked ~ #slider2,
#img3:checked ~ #slider3{
    display: flex;
}