html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
a{
    text-decoration: none;
}
/*main code*/
html{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    
    font-family: 'Quicksand';
    background: #28252C;
}
#portfolio{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
h2{
    width: 100%;
    text-align: center;
    color: #2F9BAD;
    font-size: 24px;
}
#labels{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 20%;
    height: 30vh;
    margin: 0 5%;
    font-size: 14px;
    color: #2F9BAD;
}
label{
    width: fit-content;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}
label:hover{
    color: #28252C;
    background-color: #2F9BAD;
}
#sliders{
    width: 70%;
}
#slider1,
#slider2,
#slider3{
    display: none;
    flex-direction: column;
    justify-content: start;
    align-items:flex-start;
    text-align: center;
    width: 90%;
    margin: 24px 5%;
    height: 100vh;
}
img{
    max-height: 90%;
    max-width: 90%;
}
#img1,
#img2,
#img3{
    display: none;
}
#img1:checked ~ #slider1,
#img2:checked ~ #slider2,
#img3:checked ~ #slider3{
    display: flex;
}